html {
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

body {
    font-family: futura-pt, helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    font-family: futura-pt, helvetica, sans-serif;
    font-weight: 500;
}

.h3, h3 {
    font-weight: 700;
}

.h5, h5 {
    font-size: 17px;
    font-weight: 700;
}

/* Header */
.navbar-inverse,
.btn-primary,
.btn-quickview {
    background: #436984;
    border: 0;
}

a {
    color:#BE232B;
    transition: color 0.35s ease;
}

ul#Header_menu  {
    float: right;
}

ul#Header_menu > li {
    float: left;
}

.topbar {
    background: white;
}

.topbar .container > div {
    float: right;
}

.topbar a span,
.topbar .btn {
    color: #333;
}

.topbar .btn-default:hover {
    background-color: transparent;
}

.topbar a:hover span,
.topbar .btn:hover {
    color:#BE232B !important;
}

#Footer_menu{
    background:#C56630
}

.topbar .tablinks a,
#Footer_menu a {
    color:white
}

.topbar .tablinks a:hover{
    background:transparent ;
}

#cartButton .dropdown-toggle{
    background: #C41130;
    border-color: #C41130;
}

.breadcrumb>.active {
    display:inline;
}

.product-image .img-thumbnail{
    max-height:80px
}

/* Carousel */
.owl-theme .owl-controls .owl-buttons div {
    font-size: 15px;
}

/*Forms*/

form {
    margin-bottom: 0;
}

.btn {
    border-radius: 0;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 10px 14px;
}

.btn-primary {
    font-family: inherit;
}

.form-control {
    border-radius: 0;
}
.page-checkoutstep2 #btn-make-payment,
.page-contact .pagebody-container input[type=submit],
#customcontent form button {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #436984;
    border: 0;
    border-radius: 0;
    padding: 8px 16px;
    transition: background 0.3s ease;
}


footer {
    background: #1e272b;
    color: white;
}

footer h6 {
    color: #9de8ff;
    font-family: utopia-std-display,Georgia,serif;
    font-size: 23px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0 0 10px;
}

footer a {
    color: #9de8ff;
}

footer a.fa-lg {
    color: white;
}

.footerCredits {
    color: rgba(255,255,255,0.5);
    font-family: "futura-pt",helvetica,sans-serif;
    font-weight: 300;
}

.footerCredits a {
    color: rgba(255,255,255,0.5);
    font-weight: 500;
}

ul#Footer_menu > li > a {
    line-height: 1.35em;
}

/*Desktop */
@media (min-width: 768px) {
    .Horizontal_Nav_Menu > li {
        position:relative;
    }
    .Horizontal_Nav_Menu > li a {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .Horizontal_Nav_Menu > li:hover > ul {
        -webkit-column-count:1;
        column-count:1;
        width:300px;
        padding:0;
    }
    .Horizontal_Nav_Menu > li > ul > li > a {
        font-size:15px;
        padding:10px;
        line-height:13px;
    }
    .Horizontal_Nav_Menu > li > ul > li{
        padding-bottom:0
    }

}

a:hover,
a:focus,
a:active,
a.active {
    color:#de5767;
}

.page-checkoutstep2 #btn-make-payment,
.btn-quickview,
ul#Footer_menu > li > a:hover,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background:#436984 ;
}

::selection {
    background: #436984 !important;color:white;
}


/* Mobile */
@media (max-width: 767px){
    .brand a{
        margin-top:10px; margin-bottom:10px
    }
}


.pager li>a,
.pager li>span {
    border-radius: 0;
}
.pagination a:first-of-type,
.pagination a:last-of-type {
    border-radius: 0;
}